[submodule "ignite-projects/01-github-explorer"]
	path = ignite-projects/01-github-explorer
	url = git@github.com:luizwhite/ignite-01-github-explorer.git
[submodule "ignite-challenges/ignite-ch02-componentzn"]
	path = ignite-challenges/ignite-ch02-componentzn
	url = git@github.com:luizwhite/ignite-componentization-ch02.git
	branch = main
[submodule "ignite-challenges/ignite-ch01-concepts"]
	path = ignite-challenges/ignite-ch01-concepts
	url = git@github.com:luizwhite/ignite-reactjs-concepts-ch01.git
	branch = main
[submodule "ignite-challenges/ignite-ch03-customhook"]
	path = ignite-challenges/ignite-ch03-customhook
	url = git@github.com:luizwhite/ignite-customhook-ch03.git
	branch = master
[submodule "ignite-challenges/ignite-ch04-refactoring"]
	path = ignite-challenges/ignite-ch04-refactoring
	url = git@github.com:luizwhite/ignite-refactoring-ch04.git
[submodule "ignite-projects/02-dtmoney"]
	path = ignite-projects/02-dtmoney
	url = git@github.com:luizwhite/ignite-dtmoney.git
	branch = main
[submodule "ignite-projects/03-ignews"]
	path = ignite-projects/03-ignews
	url = git@github.com:luizwhite/ignite-ignews.git
	branch = main
[submodule "ignite-challenges/ignite-ch05-prismic-blog"]
	path = ignite-challenges/ignite-ch05-prismic-blog
	url = git@github.com:luizwhite/ignite-prismic-blog-ch05.git
